.NavBar{
    height: 56px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ec3131;
    display:flex;
     justify-content:flex-end; 
    padding: 0 20px;
     box-sizing: border-box; 
   
}
.inicio{
position:absolute;
 padding: 0 20px;
 box-sizing: border-box;
}

